<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<script type="text/javascript">
LatexIT.add('p',true);
</script>


<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">
    <div class="w3-content" style="max-width:1400px">
        <header class="w3-container w3-center w3-padding-32"> 
            <div class="w3-right w3-padding-16"><a href="#contact" class="w3-bar-item w3-button">Register</a></div>
        </header>

        <header class="w3-container w3-center w3-padding-32"> 
            <h1>new <b>arXiv</b> submissions </h1>
        </header>

        {% for entry in entries %}
        <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container">
                <h3><a href={{ entry.url }}> <b> {{ entry.title }} </b> </a></h3>
                <h5><span class="w3-opacity"> {{ entry.authors_str }}</span></h5>
            </div>
            <div class="w3-container">
                <p> {{ entry.abstract }} </p>
            </div> 


        </div> 
        {% endfor %}
    </div> 
</body>
</html>
